
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <title>Brr</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v2.1.0
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="#hero"><span>Brrr</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="\">Stonks</a></li>
          <li class="active"><a href="#monte">Return Analysis</a></li>

          <!--<li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li> -->

          <li class="get-started"><a href="#monte">Get Started</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Figure out how much money your portfolio will lose</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Using math</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#monte" class="btn-get-started scrollto">Let's go</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="static/assets/img/loss2.jpg" class="img-fluid animated" alt="">

        </div>
      </div>
    </div>

  </section>
  <!-- End Hero -->

<main id="main">

    <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients clients">
    <div class="container">

      <div class="row">

        </div>
      </div>
  </section><!-- End Clients Section -->






    <!-- ======= Monte Section ======= -->
  <section id="monte" class="monte">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
        <h2>Return Analysis</h2>
        <p>Do you know what a Monte Carlo simulation is? Didn't think so.</p>
        <br>

        </div>
        <div class="explanation" data-aos="fade-up" data-aos-delay="150" >
          <h3>Monte Carlo simulations let us predict how poorly your portfolio will do over time.</h3>
          <br>
          <p>Enter the stock tickers of your portfolio and how many shares you have of each. </p>
          <!-- <p>{{tick}}</p> -->
          <br>
          <script type ="text/javascript" src = {{cdn_js0 | safe}}> </script>
          <script type ="text/javascript" src = {{cdn_js1 | safe}}> </script>
          <script type ="text/javascript" src = {{cdn_js2 | safe}}> </script>
          <script type ="text/javascript" src = {{cdn_js3 | safe}}> </script>

          {{script | safe}}
          {{div | safe}}
        </div>
        <br>
        <!-- <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <form method='post'>

              <div class="form-group">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                <label for="ticker1">Enter Stonk Ticker</label>
                <input type="text" class="form-control" id="monte" name='monte' >
                </div>
                <div class="form-group">
                  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                  <label for="amount1">Amount Invested</label>
                  <input type="text" class="form-control" id="monte" name='monte' >
                  </div>
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              <!-- </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>

        </div> -->
<div data-aos="fade-up" data-aos-delay="150" >
        <form name = "monte" method = "POST" onsubmit="return isEmpty()">
          <div class="form-row">
            <div class="form-group stock-one col-md-6">
              <label for="ticker1">Ticker</label>
              <input type="text" class="form-control" id="ticker1" placeholder="Ticker" name = "ticker1" value= {{tickers[0]}} >

            </div>
            <div class="form-group stock-one col-md-6">
              <label for="amount1">Shares</label>
              <input type="number" class="form-control" id="amount1" placeholder="Shares" name = "amount1" value= {{amounts[0]}}>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ticker2">Ticker</label>
              <input type="text" class="form-control" id="ticker2" placeholder="Ticker" name = "ticker2" value = {{tickers[1]}}>
            </div>
            <div class="form-group col-md-6">
              <label for="amount2">Shares</label>
              <input type="number" class="form-control" id="amount2" placeholder="Shares" name = "amount2" value= {{amounts[1]}}>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ticker3">Ticker</label>
              <input type="text" class="form-control" id="ticker3" placeholder="Ticker" name = "ticker3" value={{tickers[2]}}>
            </div>
            <div class="form-group col-md-6">
              <label for="amount3">Shares</label>
              <input type="number" class="form-control" id="amount3" placeholder="Shares" name = "amount3" value= {{amounts[2]}}>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ticker4">Ticker</label>
              <input type="text" class="form-control" id="ticker4" placeholder="Ticker" name = "ticker4" value={{tickers[3]}} >
            </div>
            <div class="form-group col-md-6">
              <label for="amount4">Shares</label>
              <input type="number" class="form-control" id="amount4" placeholder="Shares" name = "amount4" value= {{amounts[3]}}>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ticker5">Ticker</label>
              <input type="text" class="form-control" id="ticker5" placeholder="Ticker" name = "ticker5" value={{tickers[4]}}>
            </div>
            <div class="form-group col-md-6">
              <label for="amount5">Shares</label>
              <input type="number" class="form-control" id="amount5" placeholder="Shares" name = "amount5" value= {{amounts[4]}}>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ticker6">Ticker</label>
              <input type="text" class="form-control" id="ticker6" placeholder="Ticker" name = "ticker6" value={{tickers[5]}}>
            </div>
            <div class="form-group col-md-6">
              <label for="amount6">Shares</label>
              <input type="number" class="form-control" id="amount6" placeholder="Shares" name = "amount6" value= {{amounts[5]}}>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ticker7">Ticker</label>
              <input type="text" class="form-control" id="ticker7" placeholder="Ticker" name = "ticker7" value={{tickers[6]}}>
            </div>
            <div class="form-group col-md-6">
              <label for="amount7">Shares</label>
              <input type="number" class="form-control" id="amount7" placeholder="Shares" name = "amount7" value= {{amounts[6]}}>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ticker8">Ticker</label>
              <input type="text" class="form-control" id="ticker8" placeholder="Ticker" name = "ticker8" value={{tickers[7]}}>
            </div>
            <div class="form-group col-md-6">
              <label for="amount8">Shares</label>
              <input type="number" class="form-control" id="amount8" placeholder="Shares" name = "amount8" value= {{amounts[7]}}>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ticker9">Ticker</label>
              <input type="text" class="form-control" id="ticker9" placeholder="Ticker" name = "ticker9" value={{tickers[8]}}>
            </div>
            <div class="form-group col-md-6">
              <label for="amount9">Shares</label>
              <input type="number" class="form-control" id="amount9" placeholder="Shares" name = "amount9" value= {{amounts[8]}}>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ticker10">Ticker</label>
              <input type="text" class="form-control" id="ticker10" placeholder="Ticker" name = "ticker10" value={{tickers[9]}}>
            </div>
            <div class="form-group col-md-6">
              <label for="amount10">Shares</label>
              <input type="number" class="form-control" id="amount10" placeholder="Shares" name = "amount10" value= {{amounts[9]}}>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <script type="text/javascript">

          function isEmpty(){
            empty = false;
            name= false;
            for (i=1; i<11;i++){
              var x = document.forms["monte"]["ticker"+i].value;
              var y = document.forms["monte"]["amount"+i].value;
              if(x!=""){
                if(y==""){
                  empty= true;
                }
              }
            }
            if(empty==true){
              alert("You must fill out an amount when entering a ticker");
              return false;
            }
          }
        </script>
      </div>
</div>
    </section>


<!-- END Monte -->
<br>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <footer id="footer">
     <div class="container">
    <div class="row d-flex align-items-center">
              <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright">
          &copy; Copyright <strong>Vesperr</strong>. All Rights Reserved
        </div>
                  <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>

          </div>

        </div>

        <div class="col-lg-6">

          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">

            <a href="#intro" class="scrollto">Home</a>

            <a href="#Stonks" class="scrollto">Stonks</a>

            <a href="#">Privacy Policy</a>

            <a href="#">Terms of Use</a>

          </nav>

        </div>
       </div>
     </div>
   </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>
